body {

    background-image: var(--gradient-1);
    padding: var(--size-3);
    font-size: var(--font-size-3)
}

.container {
    width: min(100% - var(--size-2), 50rem); 
    margin-inline: auto;
}

h1 {
    font-size: var(--font-size-6);
    max-inline-size: var(--size-header-2);
    margin-bottom: var(--size-6);
}

h2 {
    font-size: var(--font-size-5);
    margin: var(--size-5) 0;
}

#search-form {
    display: flex;
    flex-flow: row nowrap;
    gap: var(--size-3);
    align-items: center; 
}

input[type="search"] {
    background-color: var(--gray-0);
    color: var(--pink-8);
}

input[type="search"]:focus {
    outline: var(--pink-6) solid var(--size-1);
}

input[type="submit"] {
    text-shadow: none;
    border: none;
    background-color: var(--gray-0);
    box-shadow: var(--shadow-2);
    color: var(--pink-8);
}

input[type="submit"]:hover {
    box-shadow: var(--shadow-4);
}

hr {
    box-shadow: var(--shadow-3);
    background-color: var(--gray-0);
}